.box{
    width: 200px;
    height: 200px;
    border: 1px dashed red;
    font-size: 3em;
}
.container{
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid greenyellow;
    align-items: center;
}
#box-1{
    order: 2;
}
#box-2{
    order: 1;
    flex-grow: 1;
}